APP_NAME=design-kit
AWS_REGION=eu-west-2
ENVIRONMENT=local
REPO=design-kit




APP_URL=http://localhost:3000
AUTH_API_URL=<auth_api_url>


BACKEND_URL=http://localhost:8000


AWS_ACCOUNT_ID=<account_id>

